@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.social-icon {
  width: 30px;
  height: 30px;
}

#landing {
  background-color: #6e0ff6;

  a {
    text-decoration: none;
    color: #ededed;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-container {
    background: #6700ee;
  }
  header {
    display: flex;
    color: #ededed;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-weight: bold;
      margin-left: 100px;
      font-size: 20px;
    }

    ul {
      display: flex;
      margin-right: 100px;
      a {
        display: block;
        font-size: 20px;
        margin: 1.5em 2em;
      }

      a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;

        background: #ededed;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      a:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }

  .hero {
    display: flex;
    justify-content: center;

    lottie-player {
      margin-top: 1.5em;
    }
  }

  .welcome-animation {
    display: flex;
    flex: 2;
    margin: 100px;
  }

  .welcome {
    color: #060606;
    font-size: 70px;
    flex: 2;
    color: #ededed;

    margin-left: 100px;

    h1 {
      font-weight: normal;
    }

    h2 {
      font-weight: normal;
      font-size: 50px;
    }
  }
}

.featured {
  padding: 4em 100px;
  display: flex;
  flex-direction: row;

  .left {
    margin-top: 4em;
    margin-right: 10em;
  }
  .featured-subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #6e0ff6;
    letter-spacing: 0.2em;
    font-size: 20px;
  }

  .featured-image {
    height: 400px;
    width: 650px;
    border-radius: 2%;

    margin-right: 10em;
  }
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6e0ff6;
  letter-spacing: 0.2em;
  font-size: 15px;
}

.project-title {
  color: #060606;
  font-weight: bold;
  font-size: 25px;
  margin-top: -0.4em;
  display: block;
}

.project-desc {
  color: #3b3b3b;
  margin-bottom: 3em;
  font-size: 0.85em;
  line-height: 1.8em;
  font-weight: 500;
}

.project-image {
  height: 300px;
  width: 500px;
  border-radius: 2%;
  margin-right: 10em;
}

.projects {
  padding: 4em 100px;

  .project {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    .left {
      margin-right: 20em;
    }
  }
}

.skills {
  background: #6700ee;
  display: flex;

  justify-content: space-evenly;
}

.skills-container {
  background: white;

  padding-right: 2em;
  padding-left: 2em;
  border-radius: 1em;
  margin: 3em;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;

  ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 25px;
    font-size: 15px;
  }
  .skill-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #6e0ff6;
    letter-spacing: 0.1em;
    font-size: 15px;
  }

  .skill-icon-container {
    img {
      height: 100px;
      margin: 0 2em 2em 2em;
    }
  }

  .skill-title {
    font-weight: bold;
    font-size: 20px;
  }
}

.skills-container:hover {
  transform: scale(1.1);
}

.about {
  background: #6700ee;
  color: #ededed;

  .about-info {
    padding-left: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .about-image {
      width: 400px;
      align-self: center;

      img {
        border-radius: 3%;
        width: 100%;
      }
    }

    .about-desc {
      padding: 2em;

      max-width: 450px;
      .about-info-header {
        font-size: 50px;
        font-weight: bold;
      }

      .about-more-info {
        line-height: 40px;
      }
    }

    .info-column {
      padding: 2em;
      display: flex;

      flex-direction: column;
      justify-content: space-evenly;
    }

    .info-card {
      margin-left: 2em;
      margin-top: 3em;
      text-align: center;
      width: 200px;
      height: 120px;
      border-radius: 3%;
      background: #6e0ff6;
    }
  }
}

.contact {
  background: #ededed;
  height: 100%;

  .contact-container {
    display: flex;
    flex-direction: column;
    
    
    .contact-animation {
      
      align-self: center;
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-self: center;
      
      h1 {
        text-transform: uppercase;
        font-weight: bold;
        color: #6e0ff6;
        letter-spacing: 0.2em;
        font-size: 20px;
      }

      h2{
        font-weight: normal;
      }

      .social-icons{
        margin-bottom: 5em;
        a{
          margin: 1em;
        }
      }

    }

    
  }
}
